<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!--- CSS -->
    <link rel="stylesheet" href="/main.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Navbar section -->
    <%- include('../views/partials/navbar') %>
    <h1 class="text-center"><%= Restaurant.name%></h1>
    <div class='container'>
        <div class="row align-items-center">
            <div class="col-2">
                <p><strong>Call:</strong> <%= Restaurant.number %></p>
            </div>
            <div class="col-10">
                <p><strong>Visit Us:</strong> <%= Restaurant.address.street %>, <%= Restaurant.address.city %>, <%= Restaurant.address.state %></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12">
            <img src="<%= Restaurant.image%>" class="restaurant-image" alt="<%= Restaurant.name%>" />
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mt-4">
          <h3><%= Restaurant.name%> Description</h3>
          <hr>
          <p><%= Restaurant.description %></p>
          <h3><%= Restaurant.name%> Reviews</h3>
          <hr>
          <div class="card">
            <img
              src="https://imageio.forbes.com/specials-images/imageserve/61688aa1d4a8658c3f4d8640/Antonio-Juliano/0x0.jpg?fit=bounds&format=jpg&width=960"
              class="card-img"
              alt=""
            />
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse fringilla leo massa. Maecenas diam mauris, venenatis
                quis aliquet et, ultrices gravida erat. Sed id ullamcorper
                metus, ac scelerisque urna.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="https://en.amerikanki.com/wp-content/uploads/2013/01/8-Ways-to-Be-a-Sincere-Person.jpg"
              class="card-img"
              alt=""
            />
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse fringilla leo massa. Maecenas diam mauris, venenatis
                quis aliquet et, ultrices gravida erat. Sed id ullamcorper
                metus, ac scelerisque urna. Sed posuere orci et mauris pharetra
                accumsan. Ut pellentesque metus enim, ut feugiat est tempus
                quis. Fusce tempor eros ut consequat rhoncus.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJZG-8Pk5VYr_MOP4Ks3uEeZdArTUAizNRwg&usqp=CAU"
              class="card-img"
              alt=""
            />
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse fringilla leo massa. Maecenas diam mauris, venenatis
                quis aliquet et, ultrices gravida erat. Sed id ullamcorper
                metus, ac scelerisque urna. Sed posuere orci et mauris pharetra
                accumsan. Ut pellentesque metus enim, ut feugiat est tempus
                quis. Fusce tempor eros ut consequat rhoncus.
              </p>
            </div>
          </div>
          <div class="card">
            <img
              src="https://media.glamour.com/photos/5edfd7e7007c6d63d16a8f17/3:2/w_1196,h_797,c_limit/Black%20Women%20Self%20Care%202%20.jpg"
              class="card-img"
              alt=""
            />
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse fringilla leo massa. Maecenas diam mauris, venenatis
                quis aliquet et, ultrices gravida erat. Sed id ullamcorper
                metus, ac scelerisque urna. Sed posuere orci et mauris pharetra
                accumsan. Ut pellentesque metus enim, ut feugiat est tempus
                quis. Fusce tempor eros ut consequat rhoncus.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-4">
            <h3>Add Review</h3>
            <div class="mb-3">
                <form action="/restaurants/<%= Restaurant._id %>/reviews" method="post">
            
              <label for="rating" class="form-label">Rating(1-5 scale)</label>
              <input
                type="range"
                min="1"
                max="5"
                name="rating"
                id="rating"
                class="form-control"
              />
            </div>

            <div class="mb-3">
              <label for="review" class="form-label">Write Review</label>
              <textarea
                name="review"
                id="review"
                cols="30"
                rows="10"
                class="form-control"
              ></textarea>
            </div>
            <button class="btn btn-success">Submit Review</button>
          </form>
        </div>
      </div>
    </div>
    <div class='container'>
        <div class="row align-items-center">
            <div class="col-2">
                <form
      action="/restaurants/<%= Restaurant._id%>?_method=Delete"
      method="post"
    >
      <button class="btn btn-danger">Out Of Business</button>
    </form>
            </div>
            <div class="col-10">
                <a href="/restaurants/<%= Restaurant._id%>/edit"><button class="btn btn-primary">
                    Update Restaurant Details
                </button></a>
            </div>
        </div>
    </div>
  </body>
</html>
